@import "../../vars.css";

.container {
    position: relative;
    padding: 10px;
    margin-top: 30px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 150px;
}

.title {
    color: black;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none
}

.job {
    display: flex;
    flex-direction: row;
}

.jobLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jobImage {
    width: 60px;
    height: 60px;
    margin: 0px;
    margin-bottom: 49px;
}

.greenLine {
    width: 93px;
    height: 0px;
    border: 1px solid #21732F;
    transform: rotate(90deg);
    margin-bottom: 50px;
}

.jobRight {
    margin: 10px;
    width: 80%;
    margin-bottom: 100px;
}

.subhead {
    font-size: 10px;
    color: #21732F;
}

@media screen and (max-width: 830px){

    .content {
        align-items: center;
        text-align: center;
    }
    .job {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .jobImage {
        width: 80px;
        height: 80px;
        margin: 0px;
    }
    .greenLine {
        width: 0px;
        height: 93px;
        border: 1px solid #21732F;
        margin-bottom: 0px;
    }
}